<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="utf-8"/>
    <title>Inbox</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" />
</head>
<body>
    <div layout:fragment="content">
    <h1>Inbox</h1>
    <table class="table table-zebra">
        <tr th:each="message : ${messages}">
            <td th:text="${message.from.email}"></td>
            <td th:text="${message.text}"></td>
            <td>
                <a th:href="@{/messages/{id}(id=${message.id})}">
                    View
                </a>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>